body,
html {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #00ffff, #ffa500);
}
* {
  box-sizing: border-box;
}
.google-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-pane {
  width: 200px;
  height: 100vh;
  background-color: #333;
  padding: 20px;
}

.nav-pane a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.nav-pane a:hover {
  background-color: #555;
}
